.progressBar {
  position: relative;
  height: 2em;
  overflow: hidden;
  border-radius: 10px;
}

.progressBar__text {
  position: absolute;
  width: max-content;
  height: max-content;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  font-size: 1em;
  margin: auto;
}
.progressBar__fill {
  height: 100%;
  background-color: red;
  transition: width 0.16s;
  border-radius: 10px;
}
