@font-face {
    font-family: 'Open Sans';
    src: url('./fonts/Open_Sans.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

.text {
    font-family: 'Open Sans', sans-serif;
}